.form{
    margin-top: 150px;
    margin-left: 400px;
    margin-bottom: 100px;
    padding: 100px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: wrap;
    background-color: grey;
}