.main-footer{
    
    color: white;
    background-color: black;
    padding-top: 3rem;
    position: relative;
    bottom: 0;
    width: 100%;
    list-style: none;
}
.title-h4-footer{
    margin-left: 40%;
}
.container-footer{
    list-style: none;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
}
.col{
    margin-left: 10%;
    text-align: center;
    list-style: none;
}
.col-sm{
    text-align: center;
    margin-left: 30%;
}
.list-item{
    list-style: none;
}
.list-unstyled{
    text-decoration: none;
}